# Compiled JavaScript files
lib/**/*.js
lib/**/*.js.map

# TypeScript v1 declaration files
typings/

# Node.js dependency directory
node_modules/

# Logs
firebase-debug.log
ui-debug.log

# Service files
src/service.json
src/service-stg.json