<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>KomoValley.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>19</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>68789FB634A14E611C616B34DB75F746B902D34E</string>
				<key>dateExpires</key>
				<string>14/9/23</string>
				<key>type</key>
				<string>Cloud Managed Apple Distribution</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>15.0.0</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>68789FB634A14E611C616B34DB75F746B902D34E</string>
						<key>dateExpires</key>
						<string>14/9/23</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FBAEMKit.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>73R3G76U78</string>
						<key>name</key>
						<string>Foo Ngiap</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>15.0.0</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>68789FB634A14E611C616B34DB75F746B902D34E</string>
						<key>dateExpires</key>
						<string>14/9/23</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FBSDKCoreKit.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>73R3G76U78</string>
						<key>name</key>
						<string>Foo Ngiap</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>15.0.0</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>68789FB634A14E611C616B34DB75F746B902D34E</string>
						<key>dateExpires</key>
						<string>14/9/23</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FBSDKCoreKit_Basics.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>73R3G76U78</string>
						<key>name</key>
						<string>Foo Ngiap</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>15.0.0</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>68789FB634A14E611C616B34DB75F746B902D34E</string>
						<key>dateExpires</key>
						<string>14/9/23</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FBSDKGamingServicesKit.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>73R3G76U78</string>
						<key>name</key>
						<string>Foo Ngiap</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>15.0.0</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>68789FB634A14E611C616B34DB75F746B902D34E</string>
						<key>dateExpires</key>
						<string>14/9/23</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FBSDKLoginKit.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>73R3G76U78</string>
						<key>name</key>
						<string>Foo Ngiap</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>15.0.0</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>68789FB634A14E611C616B34DB75F746B902D34E</string>
						<key>dateExpires</key>
						<string>14/9/23</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FBSDKShareKit.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>73R3G76U78</string>
						<key>name</key>
						<string>Foo Ngiap</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>73R3G76U78.com.komovalley</string>
				<key>aps-environment</key>
				<string>production</string>
				<key>com.apple.developer.applesignin</key>
				<array>
					<string>Default</string>
				</array>
				<key>com.apple.developer.associated-domains</key>
				<array>
					<string>applinks:expotest.onelink.me</string>
				</array>
				<key>com.apple.developer.in-app-payments</key>
				<array>
					<string>merchant.com.komovalley</string>
				</array>
				<key>com.apple.developer.team-identifier</key>
				<string>73R3G76U78</string>
				<key>get-task-allow</key>
				<false/>
			</dict>
			<key>name</key>
			<string>KomoValley.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>acf02cd3-a59d-4e5d-8602-ed95107bf004</string>
				<key>dateExpires</key>
				<string>2/11/23</string>
				<key>name</key>
				<string>iOS Team Ad Hoc Provisioning Profile: com.komovalley</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>73R3G76U78</string>
				<key>name</key>
				<string>Foo Ngiap</string>
			</dict>
			<key>versionNumber</key>
			<string>0.1.18</string>
		</dict>
	</array>
</dict>
</plist>
